.logo {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
     color: var(--primary-red-color);
     text-transform: uppercase;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     letter-spacing: 1px;
}

.logo>div:first-child {
     flex: 1;
}

.logo>div:first-child>img {
     width: 100%;
}

.logo>h2 {
     flex: 25;
}


@media all and (width < 800px) {
     .logo>h2 {
          flex: 20;
     }  
}

@media all and (width < 600px) {
     .logo>h2 {
          display: none;
     }  

     .logo>div:first-child {
          width: 30px;
     }
}