.navbar {
     width: 100svw;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: sticky;
     top: 0;
     backdrop-filter: blur(4px);
     background-color: #ff440033;
     padding: 0.6rem 2rem;
     z-index: 10;
}

a {
     text-decoration: none;
}

ul,
li {
     list-style: none;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1.2rem;
}

.profile {
     padding: 2px;
     height: 1.5rem;
     aspect-ratio: 1;
     border: none;
     border-radius: 50%;
     background-color: var(--primary-red-color);
     outline: 3px solid red;
     outline-offset: 0.1rem;
     color: #fff;
     font-weight: 600;
     letter-spacing: 1px;
     text-transform: capitalize;
     font-size: 17px;
     transition: scale 100ms ease-in-out;
     cursor: pointer;
     overflow: hidden;
}

.profile>img {
     height: 100%;
     width: 100%;
     object-fit: cover;
}

.profile-main {
     position: relative;
}

.profile-info {
     position: absolute;
     top: 36px;
     right: -10px;
     background-color: var(--primary-black-color);
     border-radius: 5px;
     transition: right 200ms ease-in-out;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 1rem 1.2rem;
}


.profile-info>figure {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 0.4rem;
     margin-bottom: 0.4em;
}

.profile-img {
     background-color: #ffffff5a;
     height: 5rem;
     aspect-ratio: 1;
     outline: 2px solid var(--primary-red-color);
     outline-offset: 0.2rem;
     border-radius: 50%;
     position: relative;
     overflow: hidden;
}

.profile-img>img {
     height: 100%;
     width: 100%;
     object-fit: cover;
}

.user-name {
     text-align: center;
     font-size: 17px;
     font-weight: 600;
     color: #fff;
     text-decoration: underline;
     text-underline-offset: 4px;
     white-space: nowrap;
}

.profile-info>button {
     outline: none;
     background: transparent;
     padding: 0.4rem 0;
     border-top: 1px solid gray;
     border-bottom: 1px solid gray;
     width: 100%;
}


/* Profile upload section */
.profile-upload {
     position: absolute;
     left: 0;
     bottom: 0;
     background-color: rgba(225, 225, 225, 0.282);
     width: 100%;
     z-index: 1;
}

.profile-upload>input {
     display: none;
}

.profile-upload>label {
     width: 100%;
     display: grid;
     place-items: center;
}

.profile-upload>label>svg {
     color: var(--primary-red-color);
}

.profile-loading {
     position: absolute;
     inset: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
     background-color: rgba(158, 158, 158, 0.758);
     display: grid;
     place-items: center;
}

.profile-loading>p {
     font-size: 12px;
     color: var(--primary-black-color);
     font-weight: bold;
}


.create-doc-form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 5px;
     max-width: 400px;
     padding: 30px;
     background: rgba(0, 0, 0, 0.8);
     box-sizing: border-box;
     box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
     border-radius: 10px;
     --white-color: #fff;
}

.modal-input-box{
     position: relative;
}

.modal-input-box input{
     width: 100%;
     padding: 10px 0;
     font-size: 16px;
     color: var(--white-color, #fff);
     letter-spacing: 2px;
     margin-bottom: 30px;
     border: none;
     border-bottom: 1px solid #fff;
     outline: none;
     background: transparent;
}

.modal-input-box label {
     position: absolute;
     top: 0;
     left: 0;
     letter-spacing: 2px;
     padding: 10px 0;
     font-size: 16px;
     color: var(--white-color, #fff);
     pointer-events: none;
     transition: 0.5s;
}

.modal-input-checkbox {
     display: flex;
     gap: 10px;
     align-items: center;
     font-size: 16px;
     color: var(--white-color, #fff);
     margin-bottom: 30px;
}


.modal-input-checkbox input{
     accent-color: var(--primary-red-color);
     height: 18px;
     width: 18px;
}

.modal-input-box input:focus~label,
.modal-input-box input:valid~label {
     top: -25px;
     left: 0;
     color: #fff;
     font-size: 12px;
}

.create-doc-form button[type="submit"]:disabled{
     cursor: wait;
}