main button {
     outline: none;
}

main button:not(:disabled):active {
     scale: 1;
}

.doc-info {
     padding: 0.5rem 3rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.doc-info>h2 {
     text-transform: capitalize;
}

.title-edit-input {
     border: 1px solid;
     padding: 5px;
     border-radius: 5px;
     outline: none;
     font-size: 18px;
     font-weight: 600;
}

.flex-box {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
}

.flex-box svg {
     font-size: 20px;
     cursor: pointer;
}

.doc-info>div:last-child {
     display: flex;
}

.doc-info button:last-child {
     color: var(--primary-red-color);
}

.doc-info button {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
     background: none;
     color: var(--primary-black-color);
     text-decoration: underline;
     text-underline-offset: 0.2rem;
}


.container {
     position: relative;
}

.container .ql-editor {
     /* Normal style of a page */
     width: 8.5in;
     min-height: 11in;
     padding: 1in;
     margin: 1rem;
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.container .ql-container.ql-snow {
     border: none;
     display: flex;
     justify-content: center;
}

.container .ql-toolbar.ql-snow {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     position: sticky;
     top: 55px;
     z-index: 1;
     background-color: #f3f3f3;
     border: none;
     box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}


/* Specialize CSS for printing the page */
@page {
     margin: 1in;
}

@media print {
     body {
          background: none;
     }

     .container .ql-editor {
          width: 6.5in;
          height: 9in;
          padding: 0;
          margin: 0;
          box-shadow: none;
     }

     .container .ql-toolbar.ql-snow {
          display: none;
     }
}


@media all and (width < 769px) {
     .container .ql-editor {
          padding: 0.5in;
     }
}


@media all and (width < 450px) {
     .doc-info{
          flex-direction: column;
          gap: 10px;
     }

     .container .ql-editor {
          padding: 0.2in;
     }
}